*.psd filter=lfs diff=lfs merge=lfs -text
*.C:/Users/joyal/Desktop/Learning/Generative[[:space:]]Ai/Music-Generation-with-Recurrent-Neural-Networks/training_inputs.npy filter=lfs diff=lfs merge=lfs -text
/Audio/Testing/MIDI-Unprocessed_SMF_02_R1_2004_01-05_ORIG_MID--AUDIO_02_R1_2004_05_Track05_wav.midi filter=lfs diff=lfs merge=lfs -text
/Audio/Testing/MIDI-Unprocessed_SMF_05_R1_2004_01_ORIG_MID--AUDIO_05_R1_2004_02_Track02_wav.midi filter=lfs diff=lfs merge=lfs -text
/Audio/Testing/MIDI-Unprocessed_SMF_13_01_2004_01-05_ORIG_MID--AUDIO_13_R1_2004_05_Track05_wav.midi filter=lfs diff=lfs merge=lfs -text
/Audio/Training/MIDI-Unprocessed_SMF_16_R1_2004_01-08_ORIG_MID--AUDIO_16_R1_2004_08_Track08_wav.midi filter=lfs diff=lfs merge=lfs -text
/Audio/Training/MIDI-Unprocessed_SMF_16_R1_2004_01-08_ORIG_MID--AUDIO_16_R1_2004_13_Track13_wav.midi filter=lfs diff=lfs merge=lfs -text
/Audio/Training/MIDI-Unprocessed_SMF_17_R1_2004_04_ORIG_MID--AUDIO_17_R1_2004_09_Track09_wav.midi filter=lfs diff=lfs merge=lfs -text
/Audio/Training/MIDI-Unprocessed_SMF_22_R1_2004_01-04_ORIG_MID--AUDIO_22_R1_2004_17_Track17_wav.midi filter=lfs diff=lfs merge=lfs -text
/Audio/Training/MIDI-Unprocessed_XP_01_R1_2004_03_ORIG_MID--AUDIO_01_R1_2004_04_Track04_wav.midi filter=lfs diff=lfs merge=lfs -text
/Audio/Training/MIDI-Unprocessed_XP_03_R1_2004_01-02_ORIG_MID--AUDIO_03_R1_2004_02_Track02_wav.midi filter=lfs diff=lfs merge=lfs -text
/Audio/Training/MIDI-Unprocessed_XP_04_R1_2004_01-02_ORIG_MID--AUDIO_04_R1_2004_01_Track01_wav.midi filter=lfs diff=lfs merge=lfs -text
/Audio/Training/MIDI-Unprocessed_XP_04_R2_2004_01_ORIG_MID--AUDIO_04_R2_2004_02_Track02_wav.midi filter=lfs diff=lfs merge=lfs -text
/Audio/Training/MIDI-Unprocessed_XP_06_R1_2004_01_ORIG_MID--AUDIO_06_R1_2004_01_Track01_wav.midi filter=lfs diff=lfs merge=lfs -text
/Audio/Training/MIDI-Unprocessed_XP_06_R1_2004_02-03_ORIG_MID--AUDIO_06_R1_2004_05_Track05_wav.midi filter=lfs diff=lfs merge=lfs -text
/Audio/Training/MIDI-Unprocessed_XP_06_R2_2004_01_ORIG_MID--AUDIO_06_R2_2004_03_Track03_wav.midi filter=lfs diff=lfs merge=lfs -text
/Audio/Training/MIDI-Unprocessed_XP_08_R1_2004_01-02_ORIG_MID--AUDIO_08_R1_2004_02_Track02_wav.midi filter=lfs diff=lfs merge=lfs -text
/Audio/Training/MIDI-Unprocessed_XP_10_R1_2004_01-02_ORIG_MID--AUDIO_10_R1_2004_02_Track02_wav.midi filter=lfs diff=lfs merge=lfs -text
/Audio/Training/MIDI-Unprocessed_XP_10_R1_2004_05_ORIG_MID--AUDIO_10_R1_2004_05_Track05_wav.midi filter=lfs diff=lfs merge=lfs -text
/Audio/Training/MIDI-Unprocessed_XP_11_R1_2004_01-02_ORIG_MID--AUDIO_11_R1_2004_02_Track02_wav.midi filter=lfs diff=lfs merge=lfs -text
/Audio/Training/MIDI-Unprocessed_XP_14_R1_2004_01-03_ORIG_MID--AUDIO_14_R1_2004_03_Track03_wav.midi filter=lfs diff=lfs merge=lfs -text
/Audio/Training/MIDI-Unprocessed_XP_14_R2_2004_01_ORIG_MID--AUDIO_14_R2_2004_01_Track01_wav.midi filter=lfs diff=lfs merge=lfs -text
/Audio/Training/MIDI-Unprocessed_XP_15_R1_2004_01-02_ORIG_MID--AUDIO_15_R1_2004_02_Track02_wav.midi filter=lfs diff=lfs merge=lfs -text
/Audio/Training/MIDI-Unprocessed_XP_15_R1_2004_03_ORIG_MID--AUDIO_15_R1_2004_03_Track03_wav.midi filter=lfs diff=lfs merge=lfs -text
/Audio/Training/MIDI-Unprocessed_XP_15_R1_2004_04_ORIG_MID--AUDIO_15_R1_2004_04_Track04_wav.midi filter=lfs diff=lfs merge=lfs -text
/Audio/Training/MIDI-Unprocessed_XP_18_R1_2004_04_ORIG_MID--AUDIO_18_R1_2004_07_Track07_wav.midi filter=lfs diff=lfs merge=lfs -text
/Audio/Training/MIDI-Unprocessed_XP_19_R1_2004_01-02_ORIG_MID--AUDIO_19_R1_2004_03_Track03_wav.midi filter=lfs diff=lfs merge=lfs -text
/Audio/Training/MIDI-Unprocessed_XP_19_R2_2004_01_ORIG_MID--AUDIO_19_R2_2004_03_Track03_wav.midi filter=lfs diff=lfs merge=lfs -text
/Audio/Training/MIDI-Unprocessed_XP_21_R1_2004_03_ORIG_MID--AUDIO_21_R1_2004_04_Track04_wav.midi filter=lfs diff=lfs merge=lfs -text
/testing_inputs.npy filter=lfs diff=lfs merge=lfs -text
/testing_labels.npy filter=lfs diff=lfs merge=lfs -text
/training_labels.npy filter=lfs diff=lfs merge=lfs -text
/training_inputs.npy filter=lfs diff=lfs merge=lfs -text
